@model MVCPractice.ViewModels.User_A_RViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table id="EmployeeTable" class="table table-bordered table-striped fs--1 mb-0">
        <thead>
            <tr>
                <th>Isim-Soyisim</th>
                <th>İzin Başlangıç Tarihi</th>
                <th>İzin Bitiş Tarihi</th>
                <th>Toplam İzin Hakkı</th>
                <th>Kalan İzin Hakkı</th>
            </tr>
        </thead>
        <tbody class="list"></tbody>
    </table>
</div>
<script>
    var table = $('#EmployeeTable').DataTable();
    $(document).ready(function () {
        table.destroy();
        $.ajax({
            url: "/Employee/AnnualDaysList/",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $('#EmployeeTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'Name' },
                        {
                            'data': 'GoingDate', 'render': function (data, type, row) {
                                return new Date(row.GoingDate).toLocaleDateString('tr-TR');
                            }
                        },
                        {
                            'data': 'ReturnDate', 'render': function (data, type, row) {
                                return new Date(row.ReturnDate).toLocaleDateString('tr-TR');
                            }
                        },
                        { 'data': 'TotalDays' }
                    ]
                })
            },
            error: function () {

            }
        })
    })
</script>
