
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row">
        <div class="col-12">
            <div class="col-1" style="margin-left:auto">
                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#AddHolidayPopup">Resmi İzin Ekle</button>
            </div>
        </div>
    </div>
    <table id="HolidayTable" class="table table-bordered table-striped fs--1 mb-0">
        <thead>
            <tr>
                <td>Resmi İzin</td>
                <td>Gün</td>
                <td>Resmi İzin Başlangıç Tarihi</td>
                <td>Resmi İzin Bitiş Tarihi</td>
                <td>Ekleyen UserID</td>
            </tr>
        </thead>
        <tbody class="list"></tbody>
    </table>
</div>
<div class="modal fade" id="AddHolidayPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <form id="InputForm">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <label for="HolidayName">İzin Adı</label>
                            </div>
                            <div class="col-6">
                                <input id="HolidayNameInput" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="HolidayStartDate">Resmi Tatil Başlangıç Tarihi Seçin</label>
                            </div>
                            <div class="col-6">
                                <input type="date" id="HolidayStartDateInput" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="HolidayFinishDate">Resmi Tatil Bitiş Tarihi Seçin</label>
                            </div>
                            <div class="col-6">
                                <input type="date" id="HolidayFinishDateInput" />
                            </div>
                        </div>
                        <br />
                        <div>
                            <button class="btn btn-primary" type="button" onclick="AddHoliday()">Kaydet</button>
                        </div>

                    </div>

                </form>
            </div>

            <form></form>

        </div>
    </div>
</div>

<script>
    function loadTableData() {
        var table = $('#HolidayTable').DataTable();
        table.destroy();

        $.ajax({
            url: "/Holiday/GetHolidayTableData",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $('#HolidayTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'Name' },
                        {'data': 'Day'},
                        {
                            'data': 'HolidayStartDate', 'render': function (data, type, row) {
                                return new Date(row.HolidayStartDate).toLocaleDateString('tr-TR');
                            }
                        },
                        {
                            'data': 'HolidayFinishDate', 'render': function (data, type, row) {
                                return new Date(row.HolidayFinishDate).toLocaleDateString('tr-TR');
                            }
                        },
                        { 'data': 'AddedByUserID' },

                    ],
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.error("Error fetching data:", thrownError);
                console.log("Response content:", xhr.responseText); 
            }
            
        });



    }
    function AddHoliday() {
        var EnteredName = $('#HolidayNameInput').val();
        var EnteredStartDate = $('#HolidayStartDateInput').val();
        var EnteredFinishDate = $('#HolidayFinishDateInput').val();
        $.ajax({
            type: "POST",
            url: "/Holiday/AddHolidayToTable",
            data: {
                StartDate: EnteredStartDate,
                FinishDate: EnteredFinishDate,
                Name: EnteredName
            },
            success: function (data) {
                console.log(data)
                Swal.fire({
                    title: 'Başarılı!',
                    text: 'Tarih Başarıyla Eklendi.',
                    icon: 'success',
                    confirmButtonText: 'Tamam'
                })
                $('#AddHolidayPopup').modal('hide');
                loadTableData();
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error:", xhr.responseText);

            }
        })
    }

    $(document).ready(function () {
        var table = new DataTable('#HolidayTable');
        loadTableData();

    })


</script>
